<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	">

	
	<bean id="adminLoginAction" class="com.gdut.ds.action.userInfo.AdminLoginAction">
		<property name="admin" ref="admin"></property>
		<property name="userInfoService" ref="userInfoService"></property>
	</bean>
	
	<bean id="saveApplicantInfoAction" class="com.gdut.ds.action.userInfo.SaveApplicantInfoAction" scope="prototype">
		<property name="applicant" ref="applicant"></property>
		<property name="stuGrade" ref="stuGrade"></property>
		<property name="userInfoService" ref="userInfoService"></property>
	</bean>
	
	<bean id="adminLogoutAction" class="com.gdut.ds.action.userInfo.AdminLogoutAction" scope="prototype">
	</bean>
	
</beans>