<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	">
	 	
	 	
		<!-- 有关于留言方面的action -->
		<bean id="sendLeavingWordAction" class="com.gdut.ds.action.word.SendLeavingWordAction">
			<property name="leavingWordService" ref="leavingWordService"></property>
			<property name="gson" ref='gson'></property>
		</bean>
		
		<bean id="getLeavingWordAction" class="com.gdut.ds.action.word.GetLeavingWordAction">
			<property name="leavingWordService" ref="leavingWordService"></property>
			<property name="gson" ref="gson"></property>
		</bean>
		
		  
		<bean id="answerForLeavingWord" class="com.gdut.ds.action.word.AnswerForLeavingWord">
			<property name="leavingWordService" ref="leavingWordService"></property>
			<property name="questionService" ref="questionService"></property>
			
		</bean>
		
		<bean id="getQuestionAction" class="com.gdut.ds.action.word.GetQuestionAction">
			<property name="questionService" ref="questionService"></property>
		</bean>
		
		<!-- 
		<bean id='checkCode' class="com.gdut.ds.action.word.CheckCode">
			<property name="gson" ref='gson'></property>
		</bean>
		 -->
		
		
</beans>